@model List<EShop.Web.Models.Domain.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Products" asp-action="Create">Add new Product</a>
    </div>

    @for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if(i % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="@item.ProductImage" style="height: 50%" alt="Image for product">
                <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.ProductDescription</p>
                
                </div>

                <div class="card-footer">
                <a asp-controller="Products" asp-action="AddProductToCard" class="btn btn-info">Add to Card</a>
                <a asp-controller="Products" asp-action="Edit" class="btn btn-secondary">Edit</a>

                </div>
            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }

    }

</div>